@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #60A5FA;
  --secondary: #ece9e2;
  --transparent-white: #ffffffeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
} */

h1 {
  font-size: 1.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Button {
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  width: 100%;
}

.Icon-Button {
  border: none;
  overflow: hidden;
  border-radius: 10rem;
  padding: 0.25rem;
  cursor: pointer;
  width: min-content;
  height: min-content;
  border: transparent 1px solid;
}

.Button:hover, .Icon-Button:hover {
  opacity: 0.75;
}

.Message {
  border-radius: 0.3rem;
  width: min-content;
  background-color: var(--secondary);
  margin: 2rem;
  min-width: 10rem;
}

.Message-Error {
  border: #f0c9c6 solid 0.5px;
}

.Message-Title {
  padding: 0.25rem 0.5rem;
  color: #f53c2f;
  font-size: 0.8rem;
  border-bottom:  #f0c9c6 solid 0.5px;
}

.Message-Text {
  padding: 0.5rem;
  padding-bottom: 0.5rem;
}

.hidden-scrollbar::-webkit-scrollbar {
  height: 0px;
}
.hidden-scrollbar::-webkit-scrollbar-track {
  height: 0px;
}