@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
} */

h1 {
  font-size: 1.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Input {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
}

.Button {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  width: 100%;
}

.Icon-Button {
  border: none;
  overflow: hidden;
  border-radius: 10rem;
  padding: 0.25rem;
  cursor: pointer;
  width: min-content;
  height: min-content;
  background-color: #faebd742;
  /* background-color: #0000000a; */
}

.Button:hover {
  opacity: 0.75;
}

.Message {
  border-radius: 0.3rem;
  width: min-content;
  background-color: #faebd742;
  margin: 2rem;
  min-width: 10rem;
}

.Message-Error {
  border: #f0c9c6 solid 0.5px;
}

.Message-Title {
  padding: 0.25rem 0.5rem;
  color: #f53c2f;
  font-size: 0.8rem;
  border-bottom:  #f0c9c6 solid 0.5px;
}

.Message-Text {
  padding: 0.5rem;
  padding-bottom: 0.5rem;
}